/*  .home-container-1{
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.home-container-2{
  max-width: 1100px;
  width: calc(100% - 164px);
  border: 1px solid #d6d9dc;
  padding: 24px;
  box-sizing: border-box;
}




@media screen and (max-width: 400px) {
    .home-container-2{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    
}

@media screen and (max-width: 980px) {
    .home-container-2{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
 */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.home-container-1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    width: 100%
}

.home-container-2 {
    border: 1px solid #d6d9dc;
    box-sizing: border-box;
    max-width: 1506px;
    padding: 24px;
    width: calc(100% - 200px)
}

.home-container-1 .chatbot-button {
    align-items: center;
    background: #0080ff;
    border: 1px solid #ddd;
    border-radius: 50%;
    bottom: 30px;
    box-shadow: 0 0 15px -5px #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    right: 20px
}

.home-container-1 .chatbot-button .comment-button {
    color: #fff;
    font-size: 1.5em
}

@media screen and (max-width: 400px) {
    .home-container-2 {
        margin:0;
        padding: 10px;
        width: 100%
    }
}

@media screen and (max-width: 980px) {
    .home-container-2 {
        margin:0;
        padding: 10px;
        width: 100%
    }
}

ul {
    list-style: none
}

.main-nav {
    background-color: #f8f9f9;
    border-top: 3px solid #ef8236;
    box-shadow: 0 1px 5px #00000033;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5
}

.main-nav,.navbar {
    align-items: center;
    display: flex
}

.navbar {
    height: 100%;
    justify-content: space-between;
    min-width: 85%
}

.navbar form {
    flex-grow: 1;
    padding: 0 12px;
    position: relative
}

.navbar form input {
    border: 1px solid #0000003e;
    border-radius: 3px;
    font-size: 13px;
    margin: 0;
    min-width: 90%;
    padding: 8px 10px 8px 32px
}

.navbar form .search-icon {
    left: 25px;
    position: absolute;
    top: 8px
}

.nav-logo {
    padding: 5px 25px
}

.nav-logo img {
    height: 30px
}

.nav-item {
    color: #454545;
    font-size: 13px;
    font-weight: 500;
    margin: 0 3px;
    text-decoration: none;
    transition: .2s
}

.nav-item:hover {
    background-color: #e2e2e2
}

.nav-btn {
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px
}

.nav-links {
    background-color: #e7f8fe;
    border: 1px solid #3c00ff47;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 13px
}

.nav-links:hover {
    background-color: #d3e4eb
}

.menu {
    display: none
}

.menu>li {
    background-color: #ef8236;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 45px
}

.sub-menu {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top center;
    transform-origin: top center
}

.sub-menu,.sub-menu li {
    transition: all .3s ease-in-out
}

.sub-menu li {
    background-color: bisque;
    border-bottom: 1px solid #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    width: 85px
}

.sub-menu li:last-child {
    border-bottom: 0
}

.sub-menu li:hover {
    background: #f09f66
}

.menu>li:hover .sub-menu li {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.menu>li:hover .sub-menu {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.nav-right {
    align-items: center;
    display: flex;
    margin-left: 20px;
    position: relative
}

.nav-right-modelbox {
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 40px;
    width: 110px
}

.nav-right-modelbox div {
    align-items: center;
    border-top: 1px solid #ddd;
    display: flex;
    font-size: .9rem;
    justify-content: space-between;
    padding: 10px;
    transition: all .2s
}

.nav-right-modelbox div svg {
    font-size: 18px
}

.nav-right-modelbox div:hover {
    background: #f0f0f0;
    cursor: pointer
}

@media screen and (max-width: 500px) {
    .menu {
        display:block;
        margin-right: 10px
    }

    .nav-btn {
        display: none
    }

    .main-nav {
        justify-content: space-between
    }
}

@media screen and (max-width: 1000px) {
    .navbar form {
        display:none
    }

    .nav-btn,.nav-logo {
        padding: 5px 10px
    }

    .nav-logo img {
        height: 25px
    }
}

.left-sidebar {
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    font-size: 13px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: box-shadow .1s ease-in-out,-webkit-transform .1s ease-in-out;
    transition: box-shadow .1s ease-in-out,transform .1s ease-in-out;
    transition: box-shadow .1s ease-in-out,transform .1s ease-in-out,-webkit-transform .1s ease-in-out;
    width: 200px
}

.side-nav {
    height: auto;
    margin: 50px 0;
    max-width: 100%;
    padding: 20px 0;
    position: -webkit-sticky;
    position: sticky
}

.side-nav-div {
    padding: 10px 0
}

.side-nav-div div,.side-nav-links {
    padding-left: 10px
}

.side-nav-links {
    align-items: center;
    color: #3a3a3a;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    transition: .2s
}

.active,.side-nav-links:hover {
    color: #000
}

.active {
    background-color: #e1e1e1;
    border-right: 3px solid #ef8236;
    font-weight: bolder
}

@media screen and (max-width: 500px) {
    .left-sidebar {
        display:none
    }
}

@media screen and (max-width: 1000px) {
    .left-sidebar {
        width:200px
    }
}

.right-sidebar {
    float: right;
    font-size: 15px;
    margin: 40px 0 15px 24px;
    max-width: 300px
}

.widget {
    box-shadow: 3px 3px 10px rgb(0 0 0/5%),-3px -3px 10px rgb(0 0 0/5%);
    margin-top: 10px
}

.widget h4 {
    background-color: #fbf3df;
    margin: 0
}

.right-sidebar-div-1,.widget h4 {
    border: 1px solid #f1e5bc;
    padding: 15px
}

.right-sidebar-div-1 {
    background-color: #fdf7e2
}

.right-sidebar-div-1 .right-sidebar-div-2 {
    align-items: flex-start;
    display: flex;
    font-size: 14px;
    justify-content: space-evenly
}

.right-sidebar-div-1 .right-sidebar-div-2 p {
    margin-top: 0;
    padding-left: 10px
}

.widget-tags {
    box-shadow: 3px 3px 10px rgb(0 0 0/5%),-3px -3px 10px rgb(0 0 0/5%);
    margin-top: 40px
}

.widget-tags h3 {
    background-color: #f8f9f9;
    border: 1px solid #e3e6e8;
    margin: 0;
    padding: 15px
}

.widget-tags-div {
    align-items: center;
    border: 1px solid #e3e6e8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px
}

.widget-tags-div p {
    background-color: #e1ecef;
    border: 1px solid #39739d75;
    border-radius: 3px;
    color: #39739d;
    font-size: 14px;
    margin-left: 3px;
    padding: 7px
}

@media screen and (max-width: 900px) {
    .right-sidebar {
        display:none
    }
}

.main-bar {
    float: left;
    margin: 25px 0;
    padding: 0;
    width: calc(100% - 324px)
}

.main-bar-header {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.main-bar-header h1 {
    font-weight: 400
}

.main-bar-header .ask-btn {
    background-color: #009dff;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transition: .3s
}

.main-bar-header .ask-btn:hover {
    background-color: #0086d8
}

.display-question-container {
    align-items: center;
    background-color: #fdf7e2;
    border: 1px solid #edeff0;
    border-bottom-color: #d3d3d3;
    display: flex;
    min-height: 80px;
    width: 100%
}

.display-question-container .display-votes-ans {
    padding: 20px
}

.display-question-container .display-votes-ans p {
    margin: 0;
    text-align: center
}

.display-question-details {
    flex-grow: 1;
    padding: 0 20px
}

.display-question-details p {
    margin: 0;
    padding: 4px
}

.question-title-link {
    color: #037ecb;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    transition: .3s
}

.question-title-link:hover {
    color: #009dff;
    text-decoration: underline
}

.display-tags-time {
    align-items: center;
    justify-content: space-between
}

.display-tags-time,.display-tags-time .display-tags {
    display: flex;
    flex-wrap: wrap
}

.display-tags-time .display-tags p {
    background-color: #edeff0;
    border: 1px solid #39739d85;
    border-radius: 4px;
    color: #39739d;
    font-size: 13px;
    margin: 2px;
    padding: 4px
}

.display-tags-time .display-time {
    font-size: 13px
}

.display-tags-time .display-time span {
    font-weight: 700;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

@media screen and (max-width: 1000px) {
    .main-bar {
        margin-top:7%;
        width: 60%
    }
}

@media screen and (max-width: 700px) {
    .main-bar {
        margin-top:17%;
        width: 100%
    }
}

.chatbot-outer {
    bottom: 100px;
    position: fixed;
    right: 20px
}

.chatbox-container {
    background: #fff;
    border: 1px solid #bfc9da;
    display: flex;
    flex-direction: column;
    width: 350px
}

.chatbox-container .header {
    background: #0288d1;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding: .5rem 1rem
}

.chatbox-container .header,.chatbox-container .header .left-header {
    align-items: center;
    display: flex
}

.chatbox-container .header .left-header .stack-logo {
    align-items: center;
    background: #fff;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 5px;
    width: 30px
}

.chatbox-container .header .left-header img {
    width: 50%
}

.chatbox-container .header span {
    color: #fff;
    font-size: .9rem;
    font-weight: 500
}

.chatbox-container .header button {
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    padding: 0 .1rem
}

.chatbox-container .chats-box {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    scroll-behavior: smooth
}

.chatbox-container .chats-box::-webkit-scrollbar {
    width: 5px
}

.chatbox-container .chats-box::-webkit-scrollbar-thumb {
    background: #d9dde7;
    border-radius: 50px
}

.chatbox-container .chats-box div {
    background: #f5f8fa;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: 5px 0;
    max-width: 70%;
    padding: 10px 18px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.chatbox-container .chats-box div span {
    color: #30373a;
    font-family: Roboto;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 135%;
    line-height: 120%;
    padding: 0
}

.chatbox-container .chats-box .user {
    align-self: flex-end;
    background: transparent;
    border: 1px solid #2d6bb7
}

.chatbox-container .chats-box .user span {
    color: #2d6bb7
}

.chatbox-container .chats-box .typing {
    -webkit-animation: blinking 2s ease-in infinite;
    animation: blinking 2s ease-in infinite;
    font-size: .8rem;
    padding: 5px 10px
}

@-webkit-keyframes blinking {
    0% {
        opacity: .4
    }

    30% {
        opacity: 1
    }

    60% {
        opacity: .4
    }

    80% {
        opacity: 1
    }
}

@keyframes blinking {
    0% {
        opacity: .4
    }

    30% {
        opacity: 1
    }

    60% {
        opacity: .4
    }

    80% {
        opacity: 1
    }
}

.chatbox-container .footer {
    align-items: center;
    border-top: 1px solid #ddd;
    display: flex
}

.chatbox-container .footer input {
    border: none;
    flex: 1 1;
    height: 100%;
    outline: none;
    padding: 0 15px
}

.chatbox-container .footer button {
    align-items: center;
    background: #0288d1;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: .8rem 1rem
}

@media screen and (max-width: 600px) {
    .chatbox-container {
        background:#fff;
        border: 1px solid #bfc9da;
        display: flex;
        flex-direction: column;
        width: 300px
    }
}

.auth-section {
    align-self: center;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh
}

.auth-container-1 {
    font-size: 16px;
    margin: 10% 2%;
    padding: 30px;
    width: 35%
}

.login-logo {
    padding: 20px 30px
}

.auth-container-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20%
}

.auth-container-2 form {
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(0 0 0/5%),0 20px 48px rgb(0 0 0/5%),0 1px 4px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%
}

.auth-container-2 form label input {
    border: 1px solid #0000003e;
    font-size: 13px;
    padding: 10px;
    width: calc(100% - 30px)
}

.auth-container-2 form label:first-child h4,.auth-container-2 form label:nth-child(2) h4,.auth-container-2 form label:nth-child(3) h4 {
    margin-bottom: 5px;
    margin-top: 10px
}

.auth-container-2 form label:nth-child(4) {
    display: flex
}

.auth-container-2 form label:nth-child(4) input {
    height: 19%;
    margin: 20px 0;
    width: 15%
}

.auth-btn {
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin: 10px;
    padding: 10px 5px;
    transition: .2s
}

.auth-btn:hover {
    background-color: #018ce3
}

.handle-switch-btn {
    background-color: initial;
    border: none;
    color: #007ac6;
    cursor: pointer;
    font-size: 13px
}

.ask-questions {
    background-color: #f1f2f3;
    min-height: 100vh
}

.ask-ques-container {
    margin: auto;
    max-width: 1200px
}

.ask-ques-container h1 {
    padding: 80px 0 20px
}

.ask-ques-container form .ask-form-container {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 25px rgb(0 0 0/5%),0 20px 48px rgb(0 0 0/5%),0 1px 4px rgba(0,0,0,.1);
    padding: 20px
}

.ask-form-container label h4 {
    margin-bottom: 0
}

.ask-form-container label p {
    font-size: 13px;
    margin: 0;
    padding: 3px 0
}

.ask-form-container label input,.ask-form-container label textarea {
    border: 1px solid #0000003e;
    font-family: Roboto,sans-serif;
    padding: 10px;
    resize: vertical;
    width: calc(100% - 20px)
}

.review-btn {
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin: 50px 0;
    padding: 12px;
    transition: .3s
}

.review-btn:hover {
    background-color: #0086d8
}

.ques-details-page {
    float: left;
    margin: 25px 0;
    padding: 0;
    width: calc(100% - 324px)
}

.ques-details-container {
    border-bottom: 1px solid rgba(0,0,0,.112);
    margin-bottom: 20px;
    padding-bottom: 20px
}

.ques-details-container-2 {
    display: flex
}

.ques-votes {
    padding: 5px 20px 5px 10px
}

.ques-votes p {
    font-size: 25px;
    margin: 0;
    text-align: center
}

.votes-icon {
    color: #cecbcb;
    cursor: pointer;
    font-size: 40px
}

.votes-icon:active {
    color: #ef8236
}

.ques-details-container .ques-body {
    line-height: 22px;
    white-space: pre-line
}

.ques-details-container .ques-details-tags {
    align-items: center;
    display: flex;
    justify-content: flex-start
}

.post-ans-container p .ans-tag,.ques-details-container .ques-details-tags p {
    background-color: #e1ecf4;
    border-radius: 2px;
    color: #39739d;
    font-size: 13px;
    margin: 3px;
    padding: 5px;
    text-decoration: none
}

.ques-action-user {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.ques-action-user .edit-ques-btn {
    background-color: initial;
    border: none;
    color: #939292;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px 0 0;
    padding: 5px 0;
    text-decoration: none;
    transition: .3s
}

.ques-action-user .edit-ques-btn:active {
    border-bottom: 2px solid #000
}

.ques-action-user div:nth-child(2) p {
    font-size: 11px;
    margin: 0;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

.user-link {
    align-items: center;
    display: flex
}

.user-link div {
    padding-left: 10px
}

.post-ans-container form textarea {
    border: 1px solid rgba(0,0,0,.3);
    font-family: Roboto,sans-serif;
    padding: 10px;
    resize: vertical;
    width: calc(100% - 20px)
}

.post-ans-container form .post-ans-btn {
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px;
    transition: all .5s
}

.post-ans-container form .post-ans-btn:hover {
    background-color: #0086d8
}

.display-ans {
    border-bottom: 1px solid rgba(0,0,0,.112);
    padding-bottom: 20px
}

.display-ans p {
    font-size: 14px;
    line-height: 18px;
    white-space: pre-line
}

@media screen and (max-width: 1000px) {
    .ques-details-page {
        margin-top:50px;
        width: 100%
    }

    .post-ans-container p .ans-tag {
        font-size: 10px;
        font-weight: 500;
        margin: 5px;
        padding: 2px 5px
    }
}

.tags-h1 {
    font-weight: 400;
    margin-top: 50px
}

.tags-p {
    font-size: 15px;
    margin: 0
}

.tags-list-container {
    grid-gap: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    padding: 30px 0
}

.tag {
    border-radius: 4px;
    box-shadow: 0 0 3px #708090;
    padding: 10px
}

.tag h5 {
    background-color: #e1ecf4;
    color: #39739d;
    display: inline-block;
    font-size: 13px;
    margin: 10px 0;
    padding: 5px
}

.tag p {
    color: #323232;
    font-family: math;
    font-size: 14px;
    line-height: 17px
}

.userList-container {
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,min-max(202px,1fr));
    padding: 30px 0
}

.user-profile-link {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: flex-start;
    text-decoration: none
}

.user-profile-link h3 {
    background-color: #d3d3d3;
    border-radius: 50%;
    padding: 10px 13px
}

.user-profile-link h5 {
    font-size: medium;
    margin: 0 10px
}

* {
    box-sizing: border-box
}

.app-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-around;
    margin-top: 50px;
    padding: 2rem
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #ddd;
    margin-bottom: 1rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    width: 17rem
}

.card .most-popular {
    background-color: #9b59b6;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: .25em 1rem;
    text-transform: uppercase
}

.basic {
    border-top: 6px solid #3498db
}

.medium {
    border-top: 6px solid #9b59b6
}

.card,.card-action,.card-billing,.card-description,.card-features {
    padding: 15px
}

.card-description h2 {
    font-size: 26px;
    margin-bottom: .5rem
}

.card-billing {
    background-color: #ecf0f1
}

.card-billing p {
    margin-bottom: .5rem
}

.card-billing .price {
    font-size: 32px;
    font-weight: 700
}

.card-features {
    min-height: 70px
}

.card-features ul li {
    font-weight: 500;
    list-style-type: square;
    margin-bottom: .5rem;
    text-align: left
}

.card-action>button {
    background-color: initial;
    border: 3px solid #3498db;
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: .5rem 0;
    transition: all .3s ease;
    width: 100%
}

.card-action>button:hover {
    background-color: #3498db;
    color: #fff;
    transition: all .3s ease
}

.user-details-container {
    justify-content: space-between;
    margin-top: 70px;
    width: 100%
}

.user-details,.user-details-container {
    align-items: flex-start;
    display: flex
}

.user-name {
    padding-left: 20px
}

.user-name p {
    color: #7e7e7e
}

.edit-profile-btn {
    background-color: #fff;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    transition: .3s
}

.edit-profile-btn:hover {
    background-color: #c5dced
}

.edit-profile-title {
    border-bottom: 1px solid #dbd9d9;
    padding: 20px 0
}

.edit-profile-title-2 {
    color: grey;
    font-weight: 400
}

.edit-profile-form {
    border: 1px solid #dbd9d9;
    border-radius: 5px;
    padding: 20px
}

.edit-profile-form label h3,.edit-profile-form label p {
    margin: 0;
    padding: 3px 0
}

.edit-profile-form label input,.edit-profile-form label textarea {
    border: 1px solid #dbd9d9;
    margin-bottom: 20px;
    padding: 5px;
    width: 50%
}

.save-profile-btn {
    background-color: #0a95ff;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    padding: 14px 10px;
    transition: .2s
}

.save-profile-btn:hover {
    background-color: #0074cc
}

.user-cancel {
    background-color: initial;
    border: none;
    border-radius: 4px;
    color: #0a95ff;
    cursor: pointer;
    margin-left: 5px;
    padding: 14px 17px;
    transition: .2s
}

.user-cancel:hover {
    background-color: #c5d7e6;
    border: 1px solid #0a95ff
}

.save-profile-btn:active,.user-cancel:active {
    -webkit-transform: scale(.88);
    transform: scale(.88)
}

.community-container {
    background: #f0f0f0;
    min-height: 100vh
}

.community-container .wrapper {
    margin: 0 auto;
    max-width: 900px
}

.community-container .community-poster {
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    width: 100%
}

.community-container .community-poster img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%
}

.community-container .community-header {
    align-items: flex-end;
    background: #fff;
    border-radius: 0 0 5px 5px;
    display: flex;
    height: 100px;
    justify-content: center;
    padding-bottom: 10px;
    position: relative
}

.community-container .community-profile-image {
    align-items: center;
    background: #fff;
    border: 1px solid #43347d;
    border-radius: 50%;
    display: flex;
    height: 120px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: -50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 120px
}

.community-container .community-profile-image img {
    height: 35%;
    object-fit: contain;
    width: 35%
}

.community-container .community-header .title {
    font-size: 1.2rem;
    font-weight: 500
}

.community-container .tab-bar {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px -10px #777;
    margin: 5px 0;
    padding: 10px 20px
}

.community-container .tab-bar span {
    cursor: pointer;
    font-size: .9rem;
    margin: 0 10px
}

.active-tab {
    border-bottom: 2px solid #e7a41e;
    padding: 2px 10px
}

.community-container .add-post-button {
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    bottom: 30px;
    box-shadow: 0 0 15px -2px #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    right: 20px;
    z-index: 300
}

.community-container .add-post-button .add-button {
    font-size: 1.3em
}

.community-container .community-body {
    display: flex;
    justify-content: space-between
}

.community-container .community-body .left-sidebar {
    background: transparent;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin-top: 10px
}

.community-container .community-body .posts {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    margin-left: 10px
}

.sharepost-container {
    position: relative;
    width: 400px
}

@media screen and (max-width: 500px) {
    .sharepost-container {
        width:300px
    }
}

.sharepost-container .close-icon {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px
}

.sharepost-container .wrapper {
    background: #fff;
    padding: 1rem
}

.sharepost-container .wrapper .title {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center
}

.sharepost-container form textarea {
    background: #ebecef;
    border: none;
    border-radius: 5px;
    font-family: Arial,Helvetica,sans-serif;
    height: 100px;
    outline: none;
    padding: 10px;
    resize: none;
    width: calc(100% - 20px)
}

.sharepost-container .wrapper .image-preview {
    border: 1px solid #ddd;
    margin-top: 10px
}

.sharepost-container .wrapper .image-preview img {
    object-fit: contain;
    width: 100%
}

.sharepost-container form button {
    background: #f19328;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .8rem;
    margin-top: 10px;
    padding: 10px 15px;
    width: 100%
}

.sharepost-container form input {
    display: none
}

.sharepost-container .share-buttons label {
    background: #f0f0f0;
    color: #111;
    cursor: pointer;
    font-size: .8rem;
    margin-right: 5px;
    padding: 10px 15px
}

.sharepost-container .share-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.sharepost-container .upload-button {
    margin: 10px 0
}

.about-tab {
    display: none
}

@media screen and (max-width: 750px) {
    .community-container .community-body .left-sidebar {
        display:none
    }

    .community-container .community-body {
        justify-content: center
    }

    .community-container .community-body .posts {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        margin: 0;
        max-width: 500px
    }

    .about-tab {
        display: inline
    }
}

.about-community-container {
    background: #fff;
    border-radius: 10px;
    padding: 1rem 1.5rem
}

.about-community-container .title {
    font-size: 1rem;
    font-weight: 500
}

.post-container {
    background: #fff;
    margin: 5px 0
}

.post-container .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative
}

.post-container .header .option_box {
    background: #fafafa;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 35px;
    width: 120px;
    z-index: 50
}

.post-container .header .option_box span {
    background: #fff;
    cursor: pointer;
    font-size: .8rem;
    padding: 10px 15px;
    width: 100%
}

.post-container .header .option_box span:hover {
    background: #f4f4f4
}

.post-container .left-header {
    align-items: center;
    display: flex
}

.post-container .left-header .text {
    display: flex;
    flex-direction: column;
    margin-left: 10px
}

.post-container .left-header .text span:first-child {
    font-size: .9rem;
    font-weight: 500
}

.post-container .left-header .text span:last-child {
    font-size: .7rem
}

.post-container .left-header img {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px
}

.post-container .option img {
    color: #333;
    height: 20px;
    width: 20px
}

.post-container .post-file-box {
    overflow: hidden;
    width: 100%
}

.post-container .post-file-box img,video {
    max-height: 600px;
    overflow: hidden;
    width: 100%
}

.post-container .post-file-box .desc {
    font-size: .8rem;
    line-height: 140%;
    padding: 0 10px
}

.post-container .post-file-box .desc span {
    font-weight: 500
}

.post-container .post-file-box .post-file {
    object-fit: cover;
    object-position: top;
    outline: none;
    width: 100%
}

.post-container .footer {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column
}

.post-container .footer .buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .8rem 1.5rem
}

.post-container .footer svg {
    cursor: pointer;
    height: 22px;
    width: 22px
}

.post-container .footer .like-button {
    fill: #2255cd
}

.post-container .avatar {
    align-items: center;
    background: #2f80f2;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 35px;
    justify-content: center;
    margin: 0;
    width: 35px
}

.comment-box {
    display: none
}

.post-container .add-comment {
    align-items: center;
    border-top: 1px solid #ddd;
    display: flex
}

.post-container .add-comment input {
    border: none;
    flex: 1 1;
    font-size: .9rem;
    height: 100%;
    outline: none;
    padding: 0 15px
}

.post-container .add-comment button {
    align-items: center;
    background: #16202a;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    padding: .9rem 1rem
}

.post-container .post-comments {
    border-top: 1px solid #ddd;
    padding: 5px
}

.post-container .user-comment {
    align-items: center;
    color: #444;
    display: flex;
    font-size: 14px;
    padding: 5px
}

.post-container .post-comments .avatar {
    font-size: .8rem;
    height: 30px;
    margin: 0 8px 0 0;
    width: 30px
}

@media screen and (max-width: 500px) {
    .post-container .footer {
        padding:0
    }

    .post-container .footer svg {
        height: 20px;
        width: 20px
    }
}

.post-page {
    background: #e7e8ed;
    display: flex;
    justify-content: center;
    min-height: 91vh
}

.post-page .wrapper {
    margin: 10px auto;
    max-width: 450px
}

.post-page .comment-box {
    display: block
}

/*# sourceMappingURL=main.f58ae08c.css.map*/
