  .home-container-1{
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.home-container-2{
  max-width: 1100px;
  width: calc(100% - 164px);
  border: 1px solid #d6d9dc;
  padding: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
    .home-container-2 {
        margin:0;
        padding: 10px;
        width: 100%
    }
}

@media screen and (max-width: 980px) {
    .home-container-2 {
        margin:0;
        padding: 10px;
        width: 100%
    }
}

@media screen and (max-width: 1000px) {
    .navbar form {
        display:none
    }

    .nav-btn,.nav-logo {
        padding: 5px 10px
    }

    .nav-logo img {
        height: 25px
    }
}
@media screen and (max-width: 500px) {
    .left-sidebar {
        display:none
    }
}

@media screen and (max-width: 1000px) {
    .left-sidebar {
        width:200px
    }
}
@media screen and (max-width: 900px) {
    .right-sidebar {
        display:none
    }
}
@media screen and (max-width: 1000px) {
    .main-bar {
        margin-top:7%;
        width: 60%
    }
}

@media screen and (max-width: 700px) {
    .main-bar {
        margin-top:17%;
        width: 100%
    }
}

@media screen and (max-width: 1000px) {
    .ques-details-page {
        margin-top:50px;
        width: 100%
    }

/* @media screen and (max-width: 500px) {
    .sharepost-container {
        width:300px
    }
}
  @media screen and (max-width: 750px) {
    .community-container .community-body .left-sidebar {
        display:none
    }

    .community-container .community-body {
        justify-content: center
    }

    .community-container .community-body .posts {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        margin: 0;
        max-width: 500px
    }

    .about-tab {
        display: inline
    }
}
  
  @media screen and (max-width: 500px) {
    .post-container .footer {
        padding:0
    }

    .post-container .footer svg {
        height: 20px;
        width: 20px
    }
} */
