/* .home-container-1{
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.home-container-2{
  max-width: 1100px;
  width: calc(100% - 164px);
  border: 1px solid #d6d9dc;
  padding: 24px;
  box-sizing: border-box;
}
 */
.home-container-1 {
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.home-container-2 {
  max-width: 1100px;
  width: calc(100% - 164px);
  border: 1px solid #d6d9dc;
  padding: 24px;
  box-sizing: border-box;
}



.home-container-1  {
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 15px -5px #ccc;
  border: 1px solid #ddd;
} 


.home-container-1 .comment-button {
  font-size: 1.3em;
}
@media screen and (max-width: 400px) {
  .home-container-2{
      margin: 0;
      padding: 10px;
      width: 100%;
  }

  
}

@media screen and (max-width: 980px) {
  .home-container-2{
      margin: 0;
      padding: 10px;
      width: 100%;
  }
}
